@import url(https://use.fontawesome.com/releases/v5.15.2/css/all.css);
body {
    padding: 50px;
}

p {
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 3px;
}

.green {
    background-color: #008000;
}

.orange {
    background-color: #FF8C00;
}