input[type="submit"] {
    color: black;
    background-color: white;
    padding: 0.5em 1em;
    border: 0.1em solid black;
    border-radius: 0.2em;
}

input[type="email"] {
    color: black;
    background-color: white;
    padding: 0.5em 1em;
    border: 0.1em solid black;
    border-radius: 0.2em;
    width: 70%;
}