html {
    font-family: Helvetica, sans-serif;
    padding: 50px;
    color: rgb(51, 51, 51);
}

body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51) margin: 50px 100px;
}

img {
    width: 600px;
}

aside {
    vertical-align: top;
    display: inline-block;
    width: 25%;
}

article {
    margin: 10px 50px;
    width: 60%;
    display: inline-block;
}